<a href="https://colab.research.google.com/github/TiaErikaDev/ExerciciosPython/blob/main/15_Python_Biblioteca_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 16: Seleção de Dados em Pandas**

In [ ]:
import pandas as pd
import numpy as np
!pip install names
import names

In [ ]:
n = 200
nomes = [names.get_full_name() for i in range(n)]
p1 = np.random.uniform(0, 7, n)
p2 = np.random.uniform(3, 10, n)
p3 = np.random.uniform(1, 9, n)

dicionario = {'Nomes': nomes,
              'p1': p1,
              'p2': p2,
              'p3': p3}

notas = pd.DataFrame(dicionario).round(1)

notas['MF'] = np.ceil(10*notas.mean(axis = 1))/10

def auxiliar(nota):
    if nota >= 6:
      saida = 'Aprovado'
    else:
      saida = 'Reprovado'
    return saida

notas['Situação'] = notas['MF'].apply(auxiliar)
notas

In [ ]:
notas.sample(5)

            Nomes   p1   p2   p3   MF   Situação
114    Kelly Ross  2.5  5.9  1.6  3.4  Reprovado
44   Lee Townsend  4.1  9.7  1.8  5.2  Reprovado
76     May Garcia  2.0  7.5  4.4  4.7  Reprovado
176   Edna Schock  2.8  9.1  7.9  6.6   Aprovado
127   Dale Thomas  4.6  4.4  2.8  4.0  Reprovado

In [ ]:
notas['Situação'] == 'Aprovado'

0      False
1      False
2       True
3      False
4      False
       ...
195     True
196    False
197    False
198    False
199    False
Name: Situação, Length: 200, dtype: bool

In [ ]:
notas[ notas['Situação'] == 'Aprovado' ]

                  Nomes   p1    p2   p3   MF  Situação
2          Jimmy Creger  6.9   9.6  6.8  7.8  Aprovado
11    Francisca Linkous  6.5   8.1  3.8  6.2  Aprovado
20          Joseph Seal  5.0   7.6  8.7  7.1  Aprovado
27       Thomas Mcmahon  0.5   9.9  8.0  6.2  Aprovado
32        Bryan Russell  6.8   8.6  6.4  7.3  Aprovado
39         Mary Randall  3.8   8.1  6.4  6.1  Aprovado
41           Eva Carney  5.4   6.8  7.4  6.6  Aprovado
42          Diana Welch  1.4   9.7  8.0  6.4  Aprovado
46       Kathryn Malone  5.1   8.8  4.1  6.0  Aprovado
47     Shannon Mcknight  3.6   8.7  8.7  7.0  Aprovado
48         John Stanley  6.3   8.9  4.6  6.6  Aprovado
53           Mario Ross  4.8   4.6  9.0  6.2  Aprovado
59         Sharon Bloom  5.9   8.3  4.1  6.2  Aprovado
63       Heather Puleio  6.4   4.0  9.0  6.5  Aprovado
65         Janice White  6.8  10.0  3.2  6.7  Aprovado
66         John Perkins  0.9   8.9  7.9  6.0  Aprovado
72       Marian Johnson  6.2   8.8  3.4  6.2  Aprovado
73        Ralph Loveall  4.3   9.7  8.0  7.4  Aprovado
74    Kathleen Valdivia  0.5   8.4  8.8  6.0  Aprovado
77           Eric Brown  3.8   8.0  7.6  6.5  Aprovado
83        Martin Murphy  6.8   6.8  4.5  6.1  Aprovado
85        James Johnson  6.8   5.3  7.3  6.5  Aprovado
90       Charity Harris  6.4   9.0  2.5  6.0  Aprovado
97         Rebecca Loth  3.0   9.9  6.3  6.4  Aprovado
98         Beth Stuzman  4.3   9.6  8.9  7.6  Aprovado
99     Andrew Rodriguez  5.5   5.4  7.3  6.1  Aprovado
105     Michael Macneil  5.2   6.6  7.7  6.5  Aprovado
107        Maria Oliver  6.4   9.1  3.8  6.5  Aprovado
119        Annie Walker  6.4   4.0  8.2  6.2  Aprovado
132      Faye Theriault  5.6   9.1  3.2  6.0  Aprovado
144         Thomas Cole  6.5   5.0  9.0  6.9  Aprovado
145       Grover Walker  4.8   9.4  8.0  7.4  Aprovado
147     Christopher May  2.5   9.3  7.7  6.5  Aprovado
150          John Maley  4.9   7.3  8.4  6.9  Aprovado
152    William Ditullio  2.6   7.4  8.1  6.1  Aprovado
153         Martin Cole  6.4   4.0  8.6  6.4  Aprovado
154        Daniel Moody  4.5   7.7  8.1  6.8  Aprovado
155    Maybelle Hawkins  2.0  10.0  6.8  6.3  Aprovado
157       Daniel Vargas  6.8   6.5  9.0  7.5  Aprovado
158        James Varela  6.4   9.6  1.8  6.0  Aprovado
161        Edward Liles  4.7   7.3  8.2  6.8  Aprovado
163       Tina Leachman  2.6   9.2  7.3  6.4  Aprovado
165  Rosalyn Funderburk  4.8   9.6  8.8  7.8  Aprovado
175    Barbara Varillas  3.3   7.6  6.9  6.0  Aprovado
176         Edna Schock  2.8   9.1  7.9  6.6  Aprovado
182   Rebecca Wilkinson  6.8   5.3  7.3  6.5  Aprovado
184      Monica Mcelroy  1.9   8.2  7.8  6.0  Aprovado
186       Walter Hutton  5.7   6.0  6.5  6.1  Aprovado
189       Allison Reyes  4.7   9.1  5.5  6.5  Aprovado
195        Denise Eaton  3.3   8.8  5.7  6.0  Aprovado

In [ ]:
notas[ notas['Situação'] == 'Aprovado' ].shape

(50, 6)

In [ ]:
aprovados = notas[ notas['Situação'] == 'Aprovado' ] ["Nomes"]

In [ ]:
reprovados = notas[ notas['Situação'] == 'Reprovado' ] ['Nomes']

In [ ]:
notas[notas['MF'] > 7] [['MF', 'p2', 'Situação']]

      MF   p2  Situação
2    7.8  9.6  Aprovado
20   7.1  7.6  Aprovado
32   7.3  8.6  Aprovado
73   7.4  9.7  Aprovado
98   7.6  9.6  Aprovado
145  7.4  9.4  Aprovado
157  7.5  6.5  Aprovado
165  7.8  9.6  Aprovado

In [ ]:
notas.loc[notas['p1'] > 5 , ['MF', 'Situação']]

      MF   Situação
0    5.3  Reprovado
2    7.8   Aprovado
8    5.5  Reprovado
9    4.9  Reprovado
10   5.7  Reprovado
11   6.2   Aprovado
12   4.0  Reprovado
14   4.4  Reprovado
16   5.0  Reprovado
21   5.4  Reprovado
26   5.5  Reprovado
32   7.3   Aprovado
41   6.6   Aprovado
45   5.7  Reprovado
46   6.0   Aprovado
48   6.6   Aprovado
52   5.9  Reprovado
54   5.5  Reprovado
59   6.2   Aprovado
60   5.3  Reprovado
63   6.5   Aprovado
65   6.7   Aprovado
70   4.0  Reprovado
72   6.2   Aprovado
81   5.9  Reprovado
82   5.5  Reprovado
83   6.1   Aprovado
85   6.5   Aprovado
90   6.0   Aprovado
96   3.5  Reprovado
99   6.1   Aprovado
105  6.5   Aprovado
107  6.5   Aprovado
108  4.1  Reprovado
109  5.1  Reprovado
112  5.4  Reprovado
113  4.7  Reprovado
119  6.2   Aprovado
132  6.0   Aprovado
144  6.9   Aprovado
151  5.8  Reprovado
153  6.4   Aprovado
157  7.5   Aprovado
158  6.0   Aprovado
168  4.8  Reprovado
182  6.5   Aprovado
186  6.1   Aprovado
188  3.9  Reprovado
190  4.8  Reprovado
191  5.4  Reprovado
194  5.5  Reprovado

In [ ]:
notas.iloc[:4 , :4]

            Nomes   p1   p2   p3
0     Anna Mulvey  6.6  3.7  5.6
1  Angelia Rowell  1.1  4.9  7.8
2    Jimmy Creger  6.9  9.6  6.8
3     Juan Holsey  2.3  3.9  3.0

In [ ]:
notas.iloc[[1,15,165,20, 32, 2] , [0, 1, 3]]

                  Nomes   p1   p3
1        Angelia Rowell  1.1  7.8
15          Paul Silvia  1.1  4.9
165  Rosalyn Funderburk  4.8  8.8
20          Joseph Seal  5.0  8.7
32        Bryan Russell  6.8  6.4
2          Jimmy Creger  6.9  6.8

In [ ]:
notas[notas['Situação'] == 'Aprovado']['p1'].mean()

4.706

In [ ]:
notas[notas['Situação'] == 'Reprovado']['p1'].mean()

2.8660000000000014

In [ ]:
notas[notas['Situação'] == 'Aprovado'].describe()

              p1         p2         p3         MF
count  50.000000  50.000000  50.000000  50.000000
mean    4.706000   7.934000   6.820000   6.528000
std     1.851024   1.746087   1.980105   0.508315
min     0.500000   4.000000   1.800000   6.000000
25%     3.375000   6.925000   5.850000   6.100000
50%     4.950000   8.500000   7.500000   6.450000
75%     6.400000   9.175000   8.175000   6.775000
max     6.900000  10.000000   9.000000   7.800000

In [ ]:
notas[notas['Situação'] == 'Reprovado'].describe()

               p1          p2          p3          MF
count  150.000000  150.000000  150.000000  150.000000
mean     2.866000    6.136667    4.506667    4.538000
std      1.914159    2.073010    2.291439    0.868438
min      0.000000    3.000000    1.100000    2.100000
25%      1.300000    4.325000    2.525000    4.000000
50%      2.500000    6.100000    4.300000    4.700000
75%      4.375000    7.600000    6.100000    5.300000
max      7.000000   10.000000    8.900000    5.900000

# **Exercício Proposto**
## Responda as perguntas:
- Quantos alunos tiveram média final entre 4 e 6?
- Quantos alunos tiveram nota na P1 maior do que 4 e nota na P2 menor do que 6?
- Qual é o índice de reprovação dos alunos que foram muito mal (nota no primeiro quartil) na P1?
- Qual é o índice de reprovação dos alunos que foram muito bem (nota no quarto quartil) na P1?
- Quem foram os alunos que tiveram as maiores notas em cada prova?
- Qual a média dos alunos que tem primeiro nomes pequenos(Menos de 6 caracteres)?

primeira pergunta não consegui fazer o intervalo, apenas separado.

In [ ]:
#primeira questão
notas[notas['MF'] <= 6].describe()

In [ ]:
#primeira questão
notas[notas['MF'] >= 4].describe()

In [ ]:
#segunda questão
notas[notas['p1'] > 4].shape

(94, 6)

In [ ]:
#segunda questão
notas[notas['p2'] < 6].shape

(84, 6)

In [ ]:
#terceira questão
notas.describe()
notas[notas['p1'] == 1.8][['Nomes', 'p1']]

                   Nomes   p1
28          Donald Frank  1.8
50           Tony Wright  1.8
68   Stephanie Waterfall  1.8
120           Danny Coon  1.8
179        Raymond Sousa  1.8
197       Lorie Gambrill  1.8

In [ ]:
#quarta questão
notas.describe()
notas[notas['p1'] == 5.2][['Nomes', 'p1']]

                 Nomes   p1
8          Anna Parker  5.2
38        Roger Nevels  5.2
104     Eartha Pickens  5.2
117          Joe Marsh  5.2
125      Minnie Farley  5.2
156  Kenneth Hernandez  5.2
189    Shirley Jackson  5.2

In [ ]:
#quinta questão
notas[notas['p1'] == 7][['Nomes', 'p1']]

            Nomes   p1
83    Jill Torres  7.0
150  Robin Leeper  7.0

In [ ]:
#quinta questão
notas[notas['p2'] == 10][['Nomes', 'p2']]

                 Nomes    p2
2        Jamie Ballard  10.0
101  Christopher Young  10.0
199     Ronald Babbitt  10.0

In [ ]:
#quinta questão
notas[notas['p3'] == 9][['Nomes', 'p3']]

         Nomes   p3
27  Lorna Park  9.0

In [ ]:
#sexta questão
notas[notas['Nomes'] < 6]

TypeError: ignored